openapi: 3.1.0
info:
  title: PinkCapy API
  version: 1.0.0
  description: Tài liệu API cho hệ thống bán lẻ điện tử PinkCapy
servers:
  - url: https://pinkcapy.dev/v1

paths:
  /products/{id}:
    $ref: './paths/products.yaml#/paths/~1products~1{id}'
  /products:
    $ref: './paths/products.yaml#/paths/~1products'
  
  /manage/products/{id}:
    $ref: './paths/products_admin.yaml#/paths/~1manage~1products~1{id}'
  /manage/products:
    $ref: './paths/products_admin.yaml#/paths/~1manage~1products'
  /manage/products/{id}/inventories:
    $ref: './paths/products_admin.yaml#/paths/~1manage~1products~1{id}~1inventories'

  /categories:
    $ref: './paths/categories.yaml#/paths/~1categories'
  /manage/categories/{id}:
    $ref: './paths/categories.yaml#/paths/~1manage~1categories~1{id}'
  /manage/categories:
    $ref: './paths/categories.yaml#/paths/~1manage~1categories'

  /me/carts:
    $ref: './paths/carts.yaml#/paths/~1me~1carts'
  /me/carts/items:
    $ref: './paths/carts.yaml#/paths/~1me~1carts~1items'
  /me/carts/items/{id}:
    $ref: './paths/carts.yaml#/paths/~1me~1carts~1items~1{id}'
  /me/carts/clear:
    $ref: './paths/carts.yaml#/paths/~1me~1carts~1clear'

  /me/orders:
    $ref: './paths/orders.yaml#/paths/~1me~1orders'
  /me/orders/{id}:
    $ref: './paths/orders.yaml#/paths/~1me~1orders~1{id}'
  /me/orders/{id}/status:
    $ref: './paths/orders.yaml#/paths/~1me~1orders~1{id}~1status'
  /me/orders/{id}/delivery:
    $ref: './paths/orders.yaml#/paths/~1me~1orders~1{id}~1delivery'
  /me/orders/{id}/cancel:
    $ref: './paths/orders.yaml#/paths/~1me~1orders~1{id}~1cancel'

  /manage/orders:
    $ref: './paths/orders_admin.yaml#/paths/~1manage~1orders'
  /manage/orders/{id}:
    $ref: './paths/orders_admin.yaml#/paths/~1manage~1orders~1{id}'
  /manage/orders/{id}/status:
    $ref: './paths/orders_admin.yaml#/paths/~1manage~1orders~1{id}~1status'
  /manage/orders/{id}/cancel:
    $ref: './paths/orders_admin.yaml#/paths/~1manage~1orders~1{id}~1cancel'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Product:
      $ref: './components/schemas/product/product.yaml'
    ProductPublic:
      $ref: './components/schemas/product/product_public.yaml'
    ProductBase:
      $ref: './components/schemas/product/product_base.yaml'
    
    Category:
      $ref: './components/schemas/category/category.yaml'
    CategoryPublic:
      $ref: './components/schemas/category/category_public.yaml'
    CategoryBase:
      $ref: './components/schemas/category/category_base.yaml'

    Cart:
      $ref: './components/schemas/cart/cart.yaml'
    CartItem:
      $ref: './components/schemas/cart/cart_item.yaml'

    Order:
      $ref: './components/schemas/order/order.yaml'
    OrderItem:
      $ref: './components/schemas/order/order_item.yaml'
    OrderAdmin:
      $ref: './components/schemas/order/order_admin.yaml'
    OrderItemAdmin:
      $ref: './components/schemas/order/order_item_admin.yaml'

  responses:
    Error:
      $ref: './components/responses/error.yaml'

tags:
  - name: Product
    description: Quản lý sản phẩm
