openapi: 3.1.0
info:
  title: PinkCapy API
  version: 1.0.0
  description: Tài liệu API cho hệ thống bán lẻ điện tử PinkCapy
servers:
  - url: https://pinkcapy.dev/v1

paths:
  /products/{id}:
    $ref: './paths/products.yaml#/paths/~1products~1{id}'
  /products:
    $ref: './paths/products.yaml#/paths/~1products'
  /manage/products/{id}:
    $ref: './paths/products.yaml#/paths/~1manage~1products~1{id}'
  /manage/products:
    $ref: './paths/products.yaml#/paths/~1manage~1products'
  /manage/products/{id}/inventories:
    $ref: './paths/products.yaml#/paths/~1manage~1products~1{id}~1inventories'

  /categories:
    $ref: './paths/categories.yaml#/paths/~1categories'
  /manage/categories/{id}:
    $ref: './paths/categories.yaml#/paths/~1manage~1categories~1{id}'
  /manage/categories:
    $ref: './paths/categories.yaml#/paths/~1manage~1categories'

  /me/carts:
    $ref: './paths/carts.yaml#/paths/~1me~1carts'
  /me/carts/items:
    $ref: './paths/carts.yaml#/paths/~1me~1carts~1items'
  /me/carts/items/{id}:
    $ref: './paths/carts.yaml#/paths/~1me~1carts~1items~1{id}'
  /me/carts/clear:
    $ref: './paths/carts.yaml#/paths/~1me~1carts~1clear'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Product:
      $ref: './components/schemas/product/product.yaml'
    ProductPublic:
      $ref: './components/schemas/product/product_public.yaml'
    ProductBase:
      $ref: './components/schemas/product/product_base.yaml'
    
    parameters:
      $ref: './components/schemas/core/parameters.yaml#/components/parameters'

  responses:
    Error:
      $ref: './components/responses/error.yaml'

tags:
  - name: Product
    description: Quản lý sản phẩm
