openapi: 3.1.0
info:
  title: PinkCapy API
  version: 1.0.0
  description: API documentation for PinkCapy Retail E-commerce System

servers:
  - url: https://pinkcapy.dev/v1
    description: Production server
  - url: http://localhost:8000/v1
    description: Local development

tags:
  - name: Product_Public
  - name: Product_Admin
  - name: Category_Public
  - name: Cart
  - name: Order_Admin
  - name: Transaction
  - name: Dashboard

paths:
  # Catalog API : ./domain/catalog/index.yaml
  /products/{id}:
    $ref: './domain/catalog/index.yaml#/paths/~1products~1{id}'
  /products:
    $ref: './domain/catalog/index.yaml#/paths/~1products'

  /admin/products/{id}:
    $ref: './domain/catalog/index.yaml#/paths/~1admin~1products~1{id}'
  /admin/products/{id}/status:
    $ref: './domain/catalog/index.yaml#/paths/~1admin~1products~1{id}~1status'
  /admin/products:
    $ref: './domain/catalog/index.yaml#/paths/~1admin~1products'
  /admin/products/{id}/inventories:
    $ref: './domain/catalog/index.yaml#/paths/~1admin~1products~1{id}~1inventories'

  /categories:
    $ref: './domain/catalog/index.yaml#/paths/~1categories'

  /admin/categories/{id}:
    $ref: './domain/catalog/index.yaml#/paths/~1admin~1categories~1{id}'
  /admin/categories:
    $ref: './domain/catalog/index.yaml#/paths/~1admin~1categories'

  # Sales Domain : ./domain/sales/index.yaml
  /me/carts:
    $ref: './domain/sales/index.yaml#/paths/~1me~1carts'
  /me/carts/items:
    $ref: './domain/sales/index.yaml#/paths/~1me~1carts~1items'
  /me/carts/items/{id}:
    $ref: './domain/sales/index.yaml#/paths/~1me~1carts~1items~1{id}'
  /me/carts/clear:
    $ref: './domain/sales/index.yaml#/paths/~1me~1carts~1clear'

  /me/orders:
    $ref: './domain/sales/index.yaml#/paths/~1me~1orders'
  /me/orders/{id}:
    $ref: './domain/sales/index.yaml#/paths/~1me~1orders~1{id}'
  /me/orders/{id}/status:
    $ref: './domain/sales/index.yaml#/paths/~1me~1orders~1{id}~1status'
  /me/orders/{id}/delivery:
    $ref: './domain/sales/index.yaml#/paths/~1me~1orders~1{id}~1delivery'
  /me/orders/{id}/cancel:
    $ref: './domain/sales/index.yaml#/paths/~1me~1orders~1{id}~1cancel'

  /admin/orders:
    $ref: './domain/sales/index.yaml#/paths/~1admin~1orders'
  /admin/orders/{id}:
    $ref: './domain/sales/index.yaml#/paths/~1admin~1orders~1{id}'
  /admin/orders/{id}/status:
    $ref: './domain/sales/index.yaml#/paths/~1admin~1orders~1{id}~1status'
  /admin/orders/{id}/cancel:
    $ref: './domain/sales/index.yaml#/paths/~1admin~1orders~1{id}~1cancel'

  /admin/transactions:
    $ref: './domain/sales/index.yaml#/paths/~1admin~1transactions'

  /me/profile:
    $ref: './domain/identity/index.yaml#/paths/~1me~1profile'

  /admin/users:
    $ref: './domain/identity/index.yaml#/paths/~1admin~1users'
  /admin/users/{id}/profile:
    $ref: './domain/identity/index.yaml#/paths/~1admin~1users~1{id}~1profile'
  /admin/users/{id}/status:
    $ref: './domain/identity/index.yaml#/paths/~1admin~1users~1{id}~1status'

  # Analytics Domain
  /admin/dashboard/overview:
    $ref: './domain/analytics/index.yaml#/paths/~1admin~1dashboard~1overview'
  /admin/dashboard/revenue:
    $ref: './domain/analytics/index.yaml#/paths/~1admin~1dashboard~1revenue'
  /admin/dashboard/orders/stats:
    $ref: './domain/analytics/index.yaml#/paths/~1admin~1dashboard~1orders~1stats'
  /admin/dashboard/products/top:
    $ref: './domain/analytics/index.yaml#/paths/~1admin~1dashboard~1products~1top'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    InfiniteScroll:
      $ref: './shared/schemas/infinite_scroll.yaml#/schemas/InfiniteScroll'
    Pagination:
      $ref: './shared/schemas/pagination.yaml#/schemas/Pagination'
    ResponseBase:
      $ref: './shared/schemas/response.yaml#/Response'
    AuditFields:
      $ref: './shared/schemas/audit_fields.yaml'

    # Catalog Domain Schemas
    Product:
      $ref: './domain/catalog/index.yaml#/components/schemas/Product'
    ProductPublic:
      $ref: './domain/catalog/index.yaml#/components/schemas/ProductPublic'
    ProductBase:
      $ref: './domain/catalog/index.yaml#/components/schemas/ProductBase'
    UpdateProductStatusRequest:
      $ref: './domain/catalog/index.yaml#/components/schemas/UpdateProductStatusRequest'
    ProductAdjustInventory:
      $ref: './domain/catalog/index.yaml#/components/schemas/ProductAdjustInventory'

    Category:
      $ref: './domain/catalog/index.yaml#/components/schemas/Category'
    CategoryPublic:
      $ref: './domain/catalog/index.yaml#/components/schemas/CategoryPublic'
    CategoryBase:
      $ref: './domain/catalog/index.yaml#/components/schemas/CategoryBase'

    # Sales Domain Schemas
    Cart:
      $ref: './domain/sales/index.yaml#/components/schemas/Cart'
    CartItem:
      $ref: './domain/sales/index.yaml#/components/schemas/CartItem'
    EmptyCart:
      $ref: './domain/sales/index.yaml#/components/schemas/EmptyCart'
    AddToCartRequest:
      $ref: './domain/sales/index.yaml#/components/schemas/AddToCartRequest'
    UpdateCartItemQuantityRequest:
      $ref: './domain/sales/index.yaml#/components/schemas/UpdateCartItemQuantityRequest'

    Order:
      $ref: './domain/sales/index.yaml#/components/schemas/Order'
    OrderBase:
      $ref: './domain/sales/index.yaml#/components/schemas/OrderBase'
    ShortOrder:
      $ref: './domain/sales/index.yaml#/components/schemas/ShortOrder'
    OrderItemBase:
      $ref: './domain/sales/index.yaml#/components/schemas/OrderItemBase'
    UpdateOrderStatusRequest:
      $ref: './domain/sales/index.yaml#/components/schemas/UpdateOrderStatusRequest'
    UpdateOrderDeliveryRequest:
      $ref: './domain/sales/index.yaml#/components/schemas/UpdateOrderDeliveryRequest'
    PlaceOrderRequest:
      $ref: './domain/sales/index.yaml#/components/schemas/PlaceOrderRequest'
    UserOrder:
      $ref: './domain/sales/index.yaml#/components/schemas/UserOrder'
    UserOrderItem:
      $ref: './domain/sales/index.yaml#/components/schemas/UserOrderItem'

    Transaction:
      $ref: './domain/sales/index.yaml#/components/schemas/Transaction'

    User:
      $ref: './domain/identity/index.yaml#/components/schemas/User'
    UserProfile:
      $ref: './domain/identity/index.yaml#/components/schemas/UserProfile'
    UserProfileBase:
      $ref: './domain/identity/index.yaml#/components/schemas/UserProfileBase'
    UserAdmin:
      $ref: './domain/identity/index.yaml#/components/schemas/UserAdmin'
    UserProfileAdmin:
      $ref: './domain/identity/index.yaml#/components/schemas/UserProfileAdmin'
    CreateUserRequest:
      $ref: './domain/identity/index.yaml#/components/schemas/CreateUserRequest'
    UpdateUserStatusRequest:
      $ref: './domain/identity/index.yaml#/components/schemas/UpdateUserStatusRequest'

    # Analytics Domain Schemas
    DashboardOverview:
      $ref: './domain/analytics/index.yaml#/components/schemas/DashboardOverview'
    DashboardRevenue:
      $ref: './domain/analytics/index.yaml#/components/schemas/DashboardRevenue'
    DashboardOrdersStats:
      $ref: './domain/analytics/index.yaml#/components/schemas/DashboardOrdersStats'
    DashboardProductTop:
      $ref: './domain/analytics/index.yaml#/components/schemas/DashboardProductTop'

  parameters:
    SortParam:
      $ref: './shared/schemas/parameters.yaml#/SortParam'
    AuthorizationHeader:
      $ref: './shared/schemas/parameters.yaml#/AuthorizationHeader'
    IdempotencyKeyHeader:
      $ref: './shared/schemas/parameters.yaml#/IdempotencyKeyHeader'
    PageParam:
      $ref: './shared/schemas/pagination.yaml#/parameters/PageParam'
    SizeParam:
      $ref: './shared/schemas/pagination.yaml#/parameters/SizeParam'
    OffsetParam:
      $ref: './shared/schemas/infinite_scroll.yaml#/parameters/OffsetParam'
    LimitParam:
      $ref: './shared/schemas/infinite_scroll.yaml#/parameters/LimitParam'

  responses:
    BadRequest:
      $ref: './shared/responses/error.yaml#/BadRequest'
    Unauthorized:
      $ref: './shared/responses/error.yaml#/Unauthorized'
    ValidationError:
      $ref: './shared/responses/error.yaml#/ValidationError'
    Forbidden:
      $ref: './shared/responses/error.yaml#/Forbidden'
    NotFound:
      $ref: './shared/responses/error.yaml#/NotFound'
    Conflict:
      $ref: './shared/responses/error.yaml#/Conflict'
    InternalServerError:
      $ref: './shared/responses/error.yaml#/InternalServerError'
    NoContent:
      $ref: './shared/responses/success.yaml#/NoContent'
